/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:peachpuff;

  }
  
  /* Style the header */
  header {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
  }
  
  /* Style the main content */
  main {
    max-width: 900px;
    margin: 100px auto;
  }
  
  /* Style the pricing plans */
  .pricing-plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .plan {
    border: 2px solid #000;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
  }
  
  .plan h2 {
    margin-bottom: 10px;
  }

  .price {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style the footer */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
  }

.dog-img {
    border: 2px solid #000;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.desc {
    padding-left: 10px;
    text-align: left;
    color: #fff;
}

